.v-form{
    width:80%;
    border: 1px solid #999;
    margin:10px auto;
    padding: 30px;

    & .v-text-field{
        display: inline-block;
        width:80%;
        & :focus{
            outline: none;
        }
    }
}
.done{
    text-decoration: line-through;
}
[v-cloak]{
    display: none;
}
